@define-color bg #1f1f28;
@define-color fg #dcd7ba;

@define-color dark-fg #c8c093;

@define-color first #2a2a37;
@define-color second #363646;
@define-color third #54546d;

@define-color green #2b3328;

* {
  font-family: 'Overpass Mono', 'Font Awesome 6 Free', 'Font Awesome 6 Brands', monospace;
  font-size: 14px;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: @fg;
}

button {
  padding: 6px;
  border: none;
  border-radius: 0;

  box-shadow: inset 0 -3px transparent;

  transition-property: all;
  transition-duration: 0.1s;
}

#workspaces button:hover {
  background: @second;
  color: @dark-fg;

  text-shadow: none;
}


#workspaces button {
  padding-left: 10px;
  padding-right: 10px;
  background: @bg;
  color: @fg;
}

#workspaces button.focused {
  background: @first;
  color: @dark-fg;
}

#workspaces button.urgent {
  background: #eb4d4b;
}

#workspaces,
#clock,
#battery,
#network,
#tray {
  border-radius: 8px;
  padding: 4px 16px;
}

#workspaces > button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
#workspaces > button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

#clock {
  background: #363646;
}

#battery {
  background: @bg;
}

#battery.charging, #battery.plugged {
  background: @green;
}

@keyframes blink {
  to {
    background: #ffffff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  background: @bg;
}

#network.disconnected {
  background: #f53c3c;
}

#tray {
  background: @bg;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background: #eb4d4b;
}
